{
displayStrings = (
"Valentine's",
"Van Halen: 'Diver Down' Special - LIVE in DALLAS, TX, Nov. 18, 1982 - soundboard (3",
"oo
nn
no
om
HH
OO
HB
na
an
ni
in
",
"ni
no
om
",
"ni
no
OO

niffid 
nifoid 
niofid 
nissid 
TEHTHDIV 
niroid 
nitlid 
niklid 
ninid nianid 
nieoid 
TEHXXDIV 
niklid TEHOODIV 
TEHTHDIV TEHXXDIV ",
x,
Xg,
V,
"AÀ",
"Help!",
"̀Q",
"̀́",
"̂",
"̂̌",
"̀",
"́",
"",
f,
"ǽ̃ẽ",
"̂̌̃",
"Å",
"ẞYỲ",
"ẞỲ",
et,
"ŧ",
"tzź",
Zz,
"tŧť",
sz,
"™",
"€",
"−",
"€",
"ť/caroncomb.alt",
"/periodcentered.loclCAT",
"/periodcentered.loclCAT",
"ģ̒",
"lľ",
"ď",
"ľ",
"ť",
"̄ā",
"AĀ",
A,
"Æ",
"Ħ",
"∆",
"Δ",
K,
"HJMNŊO",
"DƏFGMVWY",
"ŊOŒPÞQRSTU",
J,
"AÆBCKL",
C,
EN,
a,
"æ",
b,
c,
d,
k,
h,
g,
m,
n,
"ßtuvwy",
o,
"̆ğ",
"œ",
"ĸ",
"ħ",
"æb",
"Ɔ",
"OCČ",
"Ə",
"Ǝ",
"Ɛ",
"ɛ",
"ǝ",
"ɔ",
"Ą",
"ɓ",
"ɗ",
"ɓɗ",
"ɲ",
"ɲu",
"ɯ",
"ɥ",
"ƙ",
"ɓƙ",
"ƙƴ",
"ɗƴ",
"Ɲ",
"̆",
"",
"",
"ʻ",
"Ɗ",
"Ɗƙ",
"Ɖ",
"ƁBƊ",
"Ƙ",
"ƊƘ",
"Ƴ",
"ƊƳ",
"Ŧ",
"AŦ",
"Ľ",
"̊å",
"Ṓ",
"̈ǟ",
"̈ö",
"Ŀ",
"ŀ",
"̈ë",
"̇ė",
"̂ê",
"̌ě",
"̆ĕ",
"́é",
"ǽ",
"̄ā",
"̀ǹ",
"̋ő",
"Ő̋ő",
"Ö",
"̣Ộ",
"pþqr",
u
);
}
