{
displayStrings = (
"
TEHXXDIV niooid nieoid ",
"ni
no
ss
XX
in

ninnid TEHXXDIV 
ninnid niklid 
nizzid 
niewid 
nitlid 
nif/idotaccent id 
nitwid 
TEHLADIV 
nifnid 
TEHETDIV 
nisfid 
nizoid 
TEHRHDIV 
nisvid 
ππ
TEHCHDIV 
TEHKADIV 
Ofider 
-J
n\"
nitoid 
TEHLTDIV 
-n
's
ni/f_f lid 
-f
Foider 
TEHAJDIV 
r:
ni/f_f íid 
ni/f_f íid 
Twider 
nirfid 
T.
nitfid 
nitfid 
TEHCUDIV 
Cider 
t-
niďaid 
TEHOXDIV ",
G,
"/dotaccentcomb.case Ġ",
"/idotless_ogonek",
"®",
"©",
"™",
b,
"dḋ",
"/brevecomb_gravecomb/brevecomb_hookabovecomb",
"̆̉",
"̛̉",
"̉ủ",
"/brevecomb_hookabovecomb",
"/brevecomb_gravecomb",
"/brevecomb_acutecomb",
"/brevecomb_tildecomb",
"/circumflexcomb_acutecomb",
"/circumflexcomb_gravecomb",
"/circumflexcomb_hookabovecomb",
"/circumflexcomb_tildecomb",
"/brevecomb_tildecomb/circumflexcomb_tildecomb",
"/commaaccentcomb.loclMAH ʻ",
">~",
"≈",
"̃",
"/tildecomb.case"
);
}
