{
displayStrings = (
"
TEHXXDIV niooid nieoid ",
"ni
no
ss
XX
in

ninnid TEHXXDIV 
ninnid niklid 
nizzid 
niewid 
nitlid 
nif/idotaccent id 
nitwid 
TEHLADIV 
nifnid 
TEHETDIV 
nisfid 
nizoid 
TEHRHDIV 
nisvid 
ππ
TEHCHDIV 
TEHKADIV 
Ofider 
-J
n\"
nitoid 
TEHLTDIV 
-n
's
ni/f_f lid 
-f
Foider 
TEHAJDIV 
r:
ni/f_f íid 
ni/f_f íid 
Twider 
nirfid 
T.
nitfid 
nitfid 
TEHCUDIV 
Cider 
t-
niďaid 
TEHOXDIV ",
G,
"/dotaccentcomb.case Ġ"
);
}
